.notification {
  border: 1px solid seagreen;
  background-color: rgba(0, 128, 0, 0.437);
  display: flex;
  width: 200px;
  padding: 1rem;
  font-size: 2rem;
}

/* .item {
  padding: 20px;
  height: 300px;
} */

.box {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  background-color: coral;
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  border: 3px solid black;
}

#boxInterval {
  left: calc(25% - 50px);
}

#boxAnimationFrame {
  left: calc(75% - 50px);
}

body {
  margin: 0;
}

.item {
  height: 300px;
}

.one {
  background-color: #388e3c;
}

.two {
  background-color: #689f38;
}

.three {
  background-color: #cddc39;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
